.parent-container {
  position: relative;
  display: flex;
  font-size: 1em;
  background-color: lightyellow;
  color: black;

  $spacing: 20px;

  .own-value {
    margin: $spacing;
    padding: $spacing;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
